*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: white;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    margin-left: 20%;
}
.wheat_box{
    background-color: bisque;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 10px;
    padding: 30px;
}
.blue_box_top{
    background-color: blueviolet;
    grid-column: 2/4;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.violet_box{
    background-color: rgb(210, 172, 247);
    grid-row: 1/4;
    border-radius: 10px;
    padding: 30px;
}
.yellow_box_left{
    background-color: rgb(238, 197, 103);
    grid-column: 1/2;
    grid-row: 3/5;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.white_box_top{
    background-color: cornsilk;
    grid-column: 2/3;
    grid-row: 2/4;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.yellow_box_right{
    background-color: rgb(238, 197, 103);
    grid-column: 3/4;
    grid-row: 2/4;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.white_box_bottom{
    background-color: cornsilk;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.blue_box_bottom{
    background-color: blueviolet;
    grid-column: 3/5;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wheat_img{
    height: 80px;
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
}
.blue_t_img{
    height: 30px;
    width: 100px;
}
.violet_img{
    height: 150px;
    width: 150px;
    margin: 20px 0;
}
.yellow_l_img{
    height: 140px;
    width: 140px;
    border-radius: 20px;
    margin-top: 20px;
}
.yellow_r_img{
    height: 80px;
    width: 130px;
    border-radius: 10px;
    margin-top: 10px;
}
.white_t_img{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.white_b_img{
    height: 50px;
    width: 130px;
    margin-top: 20px;
}
.blue_b_img{
    height: 150px;
    width: 150px;
    margin-right: 20px;
}